<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Reservación</title>
</head>
<body>
    <h1>Crear Reservación</h1>
    <form method="POST">
        <label for="nombre_cliente">Nombre Cliente:</label>
        <input type="text" name="nombre_cliente" required><br>

        <label for="fecha_reserva">Fecha:</label>
        <input type="date" name="fecha_reserva" required><br>

        <label for="hora_reserva">Hora:</label>
        <input type="time" name="hora_reserva" required><br>

        <button type="submit">Crear Reservación</button>
    </form>
</body>
</html>
